@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: cinzel;
  src: url("./assets/fonts/cinzel-font/CINZEL/Cinzel-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: comfortaa;
  src: url("./assets//fonts//comfortaa-font/Comfortaa-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
